CSS reset Eric Meyers
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*====================
Custom CSS Begins here
====================*/

body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: lightcoral;
}
h1 {
  margin: 20px 0;
	font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.result {
  height: 120px;
}

.history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

button {
  font-size: 18px;
  color: white;
  background-color: #333333;
  border: none;
  width: 50px;
  height: 50px;
  margin: 15px;
  font-weight: bolder;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* width: 50px;
	height: 50px;
	margin: 15px;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px; */
}

button:hover {
  cursor: pointer;
}

button:active {
  font-size: 17px;
}

#empty {
  color: black;
  background-color: black;
}

.zero {
  width: 220px;
  border-radius: none;
  border-radius: 25px;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

.operator {
  background-color: #ff9d38;
  color: white;
}

p {
  color: white;
}
.output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
.hide {
  display: none;
}